<div ui-view="" class="container-fluid main-view container-principal" data-container="true" id="starter">
    <!-- INICIO CONTAINER PRINCIPAL -->
    <div class="row painel-central">
        <div class="col-md-4"></div>
        <!-- INICIO PAINEL PRINCIPAL -->
        <div class="home-grid-visualizacao col-md-12 col-lg-12 ">
            <div>
                <div class="panel panel-default painel-cadastro"> 
                    <div class="panel-heading"> 
                        <h3 class="panel-title">
                            Curso
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="inner contact"> 
                            <!-- Form Area -->
                            <div class="contact-form"> 
                                <!-- Form -->
                                <form id="formCursoCV" name="cursoCV">
                                    <div class="row">
                                        <!-- Left Inputs --> 
                                        <div class="col-md-6"> 
                                            <div class="col-xs-12 wow animated slideInLeft" data-wow-delay=".5s"> 
                                                <!-- Nome curso --> 
                                                <div class="row"> 
                                                    <div class="col-md-12"> 
                                                        <input type="text" name="curso" id="curso" required="" class="form" placeholder="Nome do curso">
                                                    </div> 
                                                </div>
                                                <!-- Número curso --> 
                                                <div class="row"> 
                                                    <!-- Data de última alteração --> 
                                                    <div class="col-md-6"> 
                                                        <input type="text" name="nrCurso" id="nrCurso" required="" class="form" placeholder="Número do curso">
                                                    </div>
                                                </div>
                                            </div>   
                                        </div> 
                                        <!-- End Left Inputs --> 
                                        <!-- Right Inputs --> 
                                        <div class="row"> 
                                            <!-- End Right Inputs --> 
                                            <!-- Fim da linha coluna da direita -->
                                        </div> 
                                        <!-- Fim da linha row --> 
                                    </div>
                                    <!-- Bottom Submit --> 
                                    <div class="relative fullwidth col-xs-12 text-right"> 
                                        <!-- Send Button -->
                                        <button type="button" class="form-btn semibold">Salvar</button>
                                    </div>
                                    <!-- End Bottom Submit --> 
                                    <!-- Clear --> 
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>