<div ui-view="" class="container-fluid main-view container-principal" data-container="true" id="starter">
    <!-- INICIO CONTAINER PRINCIPAL -->
    <div class="row painel-central">
        <div class="col-md-4"></div>
        <!-- INICIO PAINEL PRINCIPAL -->
        <div class="home-grid-visualizacao col-md-12 col-lg-12 ">
            <div>
                <!-- EXEMPLO DATASOURCE <div class="component-holder ng-binding ng-scope" data-component="crn-vertical-container" id="crn-vertical-container-975876">-->
                <!--    {{funcionarioCV.data}}-->
                <!--</div>-->
                <!--aqui-->
                <div class="panel panel-default painel-cadastro"> 
                    <div class="panel-heading"> 
                        <h3 class="panel-title">
                            Histórico currículo
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="inner contact"> 
                            <!-- Form Area -->
                            <div class="contact-form"> 
                                <!-- Form -->
                                <form id="formHistoricoCV" name="historicoCV">
                                    <div class="row">
                                        <!-- Left Inputs --> 
                                        <div class="col-md-6"> 
                                            <div class="col-xs-12 wow animated slideInLeft" data-wow-delay=".5s"> 
                                                <!-- Cargo --> 
                                                <div class="row"> 
                                                    <div class="col-md-12"> 
                                                        <input type="text" name="cargo" id="cargo" required="" class="form" placeholder="Cargo">
                                                    </div> 
                                                </div>
                                                <!-- Início --> 
                                                <div class="row"> 
                                                    <div class="col-md-12"> 
                                                        <input type="text" name="inicio" id="inicio" required="" class="form" placeholder="Início">
                                                    </div> 
                                                </div>
                                                <!-- Início --> 
                                                <div class="row"> 
                                                    <div class="col-md-6"> 
                                                        <input type="text" name="inicio" id="inicio" required="" class="form" placeholder="Data de início">
                                                    </div> 
                                                    <!-- Término --> 
                                                    <div class="col-md-6"> 
                                                        <input type="text" name="termino" id="termino" required="" class="form" placeholder="Data de término">
                                                    </div> 
                                                </div>
                                                <!-- Empresa --> 
                                                <div class="row"> 
                                                    <div class="col-md-12"> 
                                                        <input type="text" name="empresa" id="empresa" required="" class="form" placeholder="Empresa">
                                                    </div> 
                                                </div>
                                            </div>   
                                        </div> 
                                        <!-- End Left Inputs --> 
                                        <!-- Right Inputs --> 
                                        <div class="row"> 
                                            <div class="col-md-6"> 
                                                <div class="col-xs-12 wow animated slideInRight" data-wow-delay=".5s"> 
                                                    <!-- Message --> 
                                                    <textarea name="resumo" id="resumo" class="form textarea-cadastro" placeholder="Resumo"></textarea>
                                                </div> 
                                            </div> 
                                            <!-- End Right Inputs --> 
                                            <!-- Fim da linha coluna da direita -->
                                        </div> 
                                        <!-- Fim da linha row --> 
                                    </div>
                                    <!-- Bottom Submit --> 
                                    <div class="relative fullwidth col-xs-12 text-right"> 
                                        <!-- Send Button -->
                                        <button type="button" class="form-btn semibold">Salvar</button>
                                    </div>
                                    <!-- End Bottom Submit --> 
                                    <!-- Clear --> 
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>