.upload-image-component {
    padding: 8px;
}
.upload-image-component {
    max-height: 128px;
    max-width: 128px;
    background-color: #ccc;
    display: table;
}
.upload-image-component .remove {
    position: absolute;
    margin-top: -8px;
    margin-left: -18px;
}
.upload-image-component .remove span {
    margin-top: 3px;
}
.drop-box {
    background: #F8F8F8;
    border: 2px dashed #DDD;
}
.dragover {
    border: 2px dashed blue;
}
